USE [master]
GO
/****** Object:  Database [QuanLyDaiLy_NMCNPM]    Script Date: 5/27/2019 1:09:11 AM ******/
CREATE DATABASE [QuanLyDaiLy_NMCNPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDaiLy_NMCNPM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyDaiLy_NMCNPM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDaiLy_NMCNPM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyDaiLy_NMCNPM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDaiLy_NMCNPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDaiLy_NMCNPM]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 5/27/2019 1:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](250) NULL,
	[passWord] [varchar](250) NULL,
 CONSTRAINT [PK_tblAccount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBaoCaoCongNo]    Script Date: 5/27/2019 1:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBaoCaoCongNo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[maDL] [bigint] NULL,
	[noDau] [money] NULL,
	[phatSinh] [money] NULL,
	[noCuoi] [money] NULL,
	[maTG] [bigint] NULL,
 CONSTRAINT [PK_tblBaoCaoCongNo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBaoCaoDoanhSo]    Script Date: 5/27/2019 1:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBaoCaoDoanhSo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[soPhieuXuat] [int] NULL,
	[maDL] [bigint] NULL,
	[tongTriGia] [money] NULL,
	[tyLe] [float] NULL,
	[maTG] [bigint] NULL,
 CONSTRAINT [PK_tblBaoCaoDoanhSo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietPX]    Script Date: 5/27/2019 1:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietPX](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[maPX] [bigint] NULL,
	[maDVT] [bigint] NULL,
	[maMH] [bigint] NULL,
	[soLuong] [int] NULL,
	[thanhTien] [money] NULL,
 CONSTRAINT [PK_tblChiTietPX] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDaiLy]    Script Date: 5/27/2019 1:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDaiLy](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tenDL] [nvarchar](250) NOT NULL,
	[maLoaiDL] [bigint] NULL,
	[sdt] [varchar](15) NULL,
	[diaChi] [nvarchar](500) NULL,
	[maQuan] [bigint] NULL,
	[ngayTiepNhan] [datetime2](7) NULL,
	[tongNo] [money] NULL,
 CONSTRAINT [PK_tblDaiLy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDonViTinh]    Script Date: 5/27/2019 1:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDonViTinh](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tenDVT] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_tblDonViTinh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiDaiLy]    Script Date: 5/27/2019 1:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiDaiLy](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tenLDL] [nvarchar](250) NOT NULL,
	[noToiDa] [money] NULL,
 CONSTRAINT [PK_tblLoaiDaiLy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMatHang]    Script Date: 5/27/2019 1:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMatHang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tenMatHang] [nvarchar](250) NOT NULL,
	[donGia] [money] NULL,
 CONSTRAINT [PK_tblMatHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieuThu]    Script Date: 5/27/2019 1:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuThu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngayThu] [datetime2](7) NULL,
	[maDL] [bigint] NULL,
	[soTienThu] [money] NULL,
 CONSTRAINT [PK_tblPhieuThu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieuXuat]    Script Date: 5/27/2019 1:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuXuat](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[maDL] [bigint] NULL,
	[ngayLapPhieu] [datetime2](7) NULL,
	[tongTriGia] [money] NULL,
 CONSTRAINT [PK_tblPhieuXuat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQuan]    Script Date: 5/27/2019 1:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tenQuan] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_tblQuan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblThamSo]    Script Date: 5/27/2019 1:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThamSo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[soQuan] [int] NULL,
	[soDLToiDa] [int] NULL,
	[soMH] [int] NULL,
	[soDVT] [int] NULL,
 CONSTRAINT [PK_tblThamSo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblThoiGian]    Script Date: 5/27/2019 1:09:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThoiGian](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[thang] [int] NULL,
	[nam] [int] NULL,
 CONSTRAINT [PK_tblThoiGian] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAccount] ON 

INSERT [dbo].[tblAccount] ([id], [userName], [passWord]) VALUES (1, N'admin', N'123456')
SET IDENTITY_INSERT [dbo].[tblAccount] OFF
SET IDENTITY_INSERT [dbo].[tblChiTietPX] ON 

INSERT [dbo].[tblChiTietPX] ([id], [maPX], [maDVT], [maMH], [soLuong], [thanhTien]) VALUES (1, 1, 1, 1, 3, 0.0000)
SET IDENTITY_INSERT [dbo].[tblChiTietPX] OFF
SET IDENTITY_INSERT [dbo].[tblDaiLy] ON 

INSERT [dbo].[tblDaiLy] ([id], [tenDL], [maLoaiDL], [sdt], [diaChi], [maQuan], [ngayTiepNhan], [tongNo]) VALUES (1, N'Đại lý 1', 1, N'0123456789', N'HCM', 1, CAST(N'2019-01-01T12:20:53.0000000' AS DateTime2), 10000.0000)
INSERT [dbo].[tblDaiLy] ([id], [tenDL], [maLoaiDL], [sdt], [diaChi], [maQuan], [ngayTiepNhan], [tongNo]) VALUES (2, N'Đại lý 2', 1, N'0101', N'HCM', 1, CAST(N'2019-01-01T12:21:53.0000000' AS DateTime2), 0.0000)
INSERT [dbo].[tblDaiLy] ([id], [tenDL], [maLoaiDL], [sdt], [diaChi], [maQuan], [ngayTiepNhan], [tongNo]) VALUES (3, N'Đại lý 3', 2, N'0202', N'HCM', 1, CAST(N'2019-01-01T12:22:53.0000000' AS DateTime2), 0.0000)
SET IDENTITY_INSERT [dbo].[tblDaiLy] OFF
SET IDENTITY_INSERT [dbo].[tblDonViTinh] ON 

INSERT [dbo].[tblDonViTinh] ([id], [tenDVT]) VALUES (1, N'Đơn vị tính 1')
INSERT [dbo].[tblDonViTinh] ([id], [tenDVT]) VALUES (2, N'Đơn vị tính 2')
INSERT [dbo].[tblDonViTinh] ([id], [tenDVT]) VALUES (3, N'Đơn vị tính 3')
SET IDENTITY_INSERT [dbo].[tblDonViTinh] OFF
SET IDENTITY_INSERT [dbo].[tblLoaiDaiLy] ON 

INSERT [dbo].[tblLoaiDaiLy] ([id], [tenLDL], [noToiDa]) VALUES (1, N'Đại lý loại 1', 20000.0000)
INSERT [dbo].[tblLoaiDaiLy] ([id], [tenLDL], [noToiDa]) VALUES (2, N'Đại lý loại 2', 50000.0000)
SET IDENTITY_INSERT [dbo].[tblLoaiDaiLy] OFF
SET IDENTITY_INSERT [dbo].[tblMatHang] ON 

INSERT [dbo].[tblMatHang] ([id], [tenMatHang], [donGia]) VALUES (1, N'Mặt hàng 1', 30000.0000)
INSERT [dbo].[tblMatHang] ([id], [tenMatHang], [donGia]) VALUES (2, N'Mặt hàng 2', 40000.0000)
INSERT [dbo].[tblMatHang] ([id], [tenMatHang], [donGia]) VALUES (3, N'Mặt hàng 3', 50000.0000)
SET IDENTITY_INSERT [dbo].[tblMatHang] OFF
SET IDENTITY_INSERT [dbo].[tblPhieuThu] ON 

INSERT [dbo].[tblPhieuThu] ([id], [ngayThu], [maDL], [soTienThu]) VALUES (1, CAST(N'2019-01-01T12:23:53.0000000' AS DateTime2), 1, 5000.0000)
SET IDENTITY_INSERT [dbo].[tblPhieuThu] OFF
SET IDENTITY_INSERT [dbo].[tblPhieuXuat] ON 

INSERT [dbo].[tblPhieuXuat] ([id], [maDL], [ngayLapPhieu], [tongTriGia]) VALUES (1, 1, CAST(N'2019-01-01T12:23:53.0000000' AS DateTime2), 0.0000)
SET IDENTITY_INSERT [dbo].[tblPhieuXuat] OFF
SET IDENTITY_INSERT [dbo].[tblQuan] ON 

INSERT [dbo].[tblQuan] ([id], [tenQuan]) VALUES (1, N'Quận 1')
INSERT [dbo].[tblQuan] ([id], [tenQuan]) VALUES (2, N'Quận 2')
INSERT [dbo].[tblQuan] ([id], [tenQuan]) VALUES (3, N'Quận 3')
SET IDENTITY_INSERT [dbo].[tblQuan] OFF
SET IDENTITY_INSERT [dbo].[tblThamSo] ON 

INSERT [dbo].[tblThamSo] ([id], [soQuan], [soDLToiDa], [soMH], [soDVT]) VALUES (1, 20, 4, 5, 3)
SET IDENTITY_INSERT [dbo].[tblThamSo] OFF
SET IDENTITY_INSERT [dbo].[tblThoiGian] ON 

INSERT [dbo].[tblThoiGian] ([id], [thang], [nam]) VALUES (1, 1, 2019)
SET IDENTITY_INSERT [dbo].[tblThoiGian] OFF
ALTER TABLE [dbo].[tblBaoCaoCongNo] ADD  DEFAULT ((0)) FOR [noDau]
GO
ALTER TABLE [dbo].[tblBaoCaoCongNo] ADD  DEFAULT ((0)) FOR [phatSinh]
GO
ALTER TABLE [dbo].[tblBaoCaoCongNo] ADD  DEFAULT ((0)) FOR [noCuoi]
GO
ALTER TABLE [dbo].[tblBaoCaoDoanhSo] ADD  DEFAULT ((0)) FOR [soPhieuXuat]
GO
ALTER TABLE [dbo].[tblBaoCaoDoanhSo] ADD  DEFAULT ((0)) FOR [tongTriGia]
GO
ALTER TABLE [dbo].[tblBaoCaoDoanhSo] ADD  DEFAULT ((0)) FOR [tyLe]
GO
ALTER TABLE [dbo].[tblChiTietPX] ADD  DEFAULT ((0)) FOR [thanhTien]
GO
ALTER TABLE [dbo].[tblDaiLy] ADD  DEFAULT ((0)) FOR [tongNo]
GO
ALTER TABLE [dbo].[tblPhieuXuat] ADD  DEFAULT ((0)) FOR [tongTriGia]
GO
ALTER TABLE [dbo].[tblBaoCaoCongNo]  WITH CHECK ADD  CONSTRAINT [FK_tblBaoCaoCongNo_MaDL] FOREIGN KEY([maDL])
REFERENCES [dbo].[tblDaiLy] ([id])
GO
ALTER TABLE [dbo].[tblBaoCaoCongNo] CHECK CONSTRAINT [FK_tblBaoCaoCongNo_MaDL]
GO
ALTER TABLE [dbo].[tblBaoCaoCongNo]  WITH CHECK ADD  CONSTRAINT [FK_tblBaoCaoCongNo_MaTG] FOREIGN KEY([maTG])
REFERENCES [dbo].[tblThoiGian] ([id])
GO
ALTER TABLE [dbo].[tblBaoCaoCongNo] CHECK CONSTRAINT [FK_tblBaoCaoCongNo_MaTG]
GO
ALTER TABLE [dbo].[tblBaoCaoDoanhSo]  WITH CHECK ADD  CONSTRAINT [FK_tblBaoCaoDoanhSo_MaDL] FOREIGN KEY([maDL])
REFERENCES [dbo].[tblDaiLy] ([id])
GO
ALTER TABLE [dbo].[tblBaoCaoDoanhSo] CHECK CONSTRAINT [FK_tblBaoCaoDoanhSo_MaDL]
GO
ALTER TABLE [dbo].[tblBaoCaoDoanhSo]  WITH CHECK ADD  CONSTRAINT [FK_tblBaoCaoDoanhSo_MaTG] FOREIGN KEY([maTG])
REFERENCES [dbo].[tblThoiGian] ([id])
GO
ALTER TABLE [dbo].[tblBaoCaoDoanhSo] CHECK CONSTRAINT [FK_tblBaoCaoDoanhSo_MaTG]
GO
ALTER TABLE [dbo].[tblChiTietPX]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPX_MaDVT] FOREIGN KEY([maDVT])
REFERENCES [dbo].[tblDonViTinh] ([id])
GO
ALTER TABLE [dbo].[tblChiTietPX] CHECK CONSTRAINT [FK_tblChiTietPX_MaDVT]
GO
ALTER TABLE [dbo].[tblChiTietPX]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPX_MaMH] FOREIGN KEY([maMH])
REFERENCES [dbo].[tblMatHang] ([id])
GO
ALTER TABLE [dbo].[tblChiTietPX] CHECK CONSTRAINT [FK_tblChiTietPX_MaMH]
GO
ALTER TABLE [dbo].[tblChiTietPX]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPX_MaPX] FOREIGN KEY([maPX])
REFERENCES [dbo].[tblPhieuXuat] ([id])
GO
ALTER TABLE [dbo].[tblChiTietPX] CHECK CONSTRAINT [FK_tblChiTietPX_MaPX]
GO
ALTER TABLE [dbo].[tblDaiLy]  WITH CHECK ADD  CONSTRAINT [FK_tblDaiLy_MaLoaiDL] FOREIGN KEY([maLoaiDL])
REFERENCES [dbo].[tblLoaiDaiLy] ([id])
GO
ALTER TABLE [dbo].[tblDaiLy] CHECK CONSTRAINT [FK_tblDaiLy_MaLoaiDL]
GO
ALTER TABLE [dbo].[tblDaiLy]  WITH CHECK ADD  CONSTRAINT [FK_tblDaiLy_MaQuan] FOREIGN KEY([maQuan])
REFERENCES [dbo].[tblQuan] ([id])
GO
ALTER TABLE [dbo].[tblDaiLy] CHECK CONSTRAINT [FK_tblDaiLy_MaQuan]
GO
ALTER TABLE [dbo].[tblPhieuThu]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuThu_MaDL] FOREIGN KEY([maDL])
REFERENCES [dbo].[tblDaiLy] ([id])
GO
ALTER TABLE [dbo].[tblPhieuThu] CHECK CONSTRAINT [FK_tblPhieuThu_MaDL]
GO
ALTER TABLE [dbo].[tblPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuXuat_MaDL] FOREIGN KEY([maDL])
REFERENCES [dbo].[tblDaiLy] ([id])
GO
ALTER TABLE [dbo].[tblPhieuXuat] CHECK CONSTRAINT [FK_tblPhieuXuat_MaDL]
GO
USE [master]
GO
